<template>
  <div class="cmp" @click="focusChange()">
    <div class="cmp_left">
      <img class="cmp_left_image" :class="{ focus: focus }" :src="src" alt>
    </div>
    <div class="cmp_center">
      <div class="cmp_center_label" :class="{ focus: focus }">{{label}}</div>
      <div class="cmp_center_input" ref="wrapper" :class="{ focus: focus }">
        <input
          class="cmp_center_input_area"
          ref="input"
          type="text"
          :class="{ focus: focus }"
          :placeholder="placeholder"
          :value="localValue"
          @focus="focus=true"
          @blur="focus=false"
          @input="$emit('input', $event.target.value)"
        >
        <div ref="hidden" class="hidden"></div>
      </div>
    </div>
    <div class="cmp_rigth">{{tooltip}}</div>
  </div>
</template>

<script>
export default {
  name: "StretchInput",
  props: ["value", "src", "label", "tooltip", "placeholder"],
  data() {
    return {
      localValue: "",
      focus: false
    };
  },
  watch: {
    value(newVal) {
      this.changeValue(newVal);
    }
  },
  computed: {},
  methods: {
    focusChange() {
      this.focus = true;
      this.$refs.input.focus();
    },
    changeValue(newVal) {
      let wrapper = this.$refs.wrapper;
      let input = this.$refs.input;
      let hidden = this.$refs.hidden;
      this.localValue = newVal.replace(/[^0-9]/g, "")
      this.localValue = this.localValue.replace(/(\d)(?=(\d{3})+$)/g, "$& ");
      hidden.innerText = this.localValue;
      let width = hidden.offsetWidth;
      if (width && width > 50) {
        wrapper.style.width = `${width}px`;
      } else {
        wrapper.style.width = `50px`;
      }
    }
  },
  async mounted() {
    setTimeout(() => {
      this.changeValue(this.value);
    }, 100);
  }
};
</script>

<style scoped lang="scss">
$placeholder: #c9c9cf;
$focus-color: #2540ff;
.cmp {
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  color: #2c2c30;
  &_left {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    &_image {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      object-fit: contain;
      border: 2px solid transparent;
      &.focus {
        border: 2px solid $focus-color;
      }
    }
  }
  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8px;
    &_label {
      text-transform: uppercase;
      font-size: 13px;
      font-style: normal;
      font-stretch: condensed;
      font-weight: bold;
      letter-spacing: 0.8px;
      &.focus {
        color: $focus-color;
      }
    }
    &_input {
      border-bottom: 1px solid #c9c9cf;
      position: relative;
      width: 50px;
      box-sizing: border-box;
      &.focus {
        border-color: $focus-color;
      }
      &_area {
        font-weight: bold;
        font-size: 14px;
        color: #2c2c30;
        width: 100%;
        border: none;
        outline: none;
        box-sizing: border-box;
        font-family: "Roboto";
        margin: 8px 0;
        &::-ms-clear {
          display: none;
        }
        &::-webkit-input-placeholder {
          color: $placeholder;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: $placeholder;
          opacity: 1;
        }
        &:-moz-placeholder {
          color: $placeholder;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: $placeholder;
          opacity: 1;
        }
        &:focus::-webkit-input-placeholder {
          opacity: 0;
        }
        &:focus::-moz-placeholder {
          opacity: 0;
        }
        &:focus:-moz-placeholder {
          opacity: 0;
        }
        &:focus:-ms-input-placeholder {
          opacity: 0;
        }
        &_hidden {
          position: absolute;
        }
        &.focus {
          caret-color: $focus-color;
        }
      }
    }
  }
  &_rigth {
    display: flex;
    align-items: flex-end;
    font-style: normal;
    font-stretch: normal;
    font-family: "Roboto";
    padding-bottom: 13px;
    font-weight: normal;
    letter-spacing: normal;
  }
  .hidden {
    font-family: "Roboto";
    position: absolute;
    left: -9999px;
    white-space: nowrap;
  }
}
</style>
