<template>
  <div id="app">
    <div class="container">
      <div class="wrapper_content">
        <div v-if="!loadData">Loading...</div>
        <div v-else class="input_wrapper" v-for="item in items" :key="item.id">
          <InputGroup :src="item.src" :label="item.label" :tooltip="item.tooltip" :placeholder="item.placeholdder" v-model="item.value"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import InputGroup from "@/components/InputGroup.component.vue";

export default {
  name: "app",
  components: {
    InputGroup
  },
  data() {
    return {
      loadData: false,
      items: []
    };
  },
  mounted(){
    setTimeout(() => {
      this.items = [
        {
          id: 1,
          src: require('@/assets/hugh.png'),
          label: "hugh is",
          tooltip: "hours old",
          placeholdder: "7",
          value: "1234"
        },
        {
          id: 2,
          src: require('@/assets/hugh@2x.png'),
          label: "hugh is",
          tooltip: "hours old",
          placeholdder: "8",
          value: "123456789"
        },
        {
          id: 3,
          src: require('@/assets/hugh@3x.png'),
          label: "hugh is",
          tooltip: "hours old",
          placeholdder: "9",
          value: "gerge123456"
        }
      ];
    }, 1000);
    setTimeout(() => {
      this.loadData = true
    }, 1000)
  }
};
</script>


<style lang="scss">
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.wrapper_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input_wrapper {
  margin-bottom: 32px;
}

</style>
